* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #344a72;
}

a {
	text-decoration: none;
}

#container {
	max-width: 360px;
	margin: 100px auto;
	padding: 20px;
	font-family: 'Roboto', cursive, sans-serif;
}

#form-wrap {
	background-color: #fff;
	border-radius: 10px;
}

#form-wrap h1,
#form-wrap p {
	text-align: center;
	margin-top: 15px;
}

#form-wrap .form-group label {
	display: block;
}
#form-wrap .form-group {
	padding: 10px 20px;
}
#form-wrap .form-group input {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: #ddd 1px solid;
}

#form-wrap button {
	/*
	 * Button should wrap accross 100% and display as block
	 * Background color for button is #49c1a2
	 */

	font-size: 18px;
	color: #fff;
	width: 100%;
	display: block;
	background-color: #49c1a2;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	border: #ddd 1px solid;
}

#form-wrap button:hover {
	/*
     *Hover background color for button is #37a08e
	 */

	background-color: #37a08e;
}

#form-wrap .bottom-text {
	/*
     * Bottom text is smaller
	 */

	font-size: 14px;
}

footer {
	/*
  	 * Should be centered
	 */

	text-align: center;
	margin-top: 10px;
	color: #ddd;
}

footer a {
	/*
     * Footer link color is #49c1a2
	 */

	color: #49c1a2;
}
